# Temporary directories
results
*.ckpt

data-local/workdir
data-local/images
data-local/labels/cifar100
data-local/labels/mnist

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project files
.vscode
.idea